# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Build files
dist/
build/

# Environment variables (jika nanti pakai)
.env
.env.local

