body {
  background-color: #b3b3b3;
}

.my-color {
  background-color: #212121;
  color: white;
}

img {
  width: 150px;
  height: 150px;
}

.show {
  background-color: #182c25;
}

.img-fluid {
  width: 100%;
  margin-bottom: 10px;
}
